html {
  background-color: #333333;
}
h1 {
  text-align: center;
  font-size: xxx-large;
  color: #008080;
  background-color: black;
  border: 3px solid lightslategray;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.7);
  width: 12%; /* Adjust the width as desired */
  margin: 0 auto; /* Center the box horizontally */
}
img {
  margin: auto;
  display: block;
}
#p1 {
  color: #008080;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  border: 3px solid lightslategray;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.7);
  text-align: center;
  width: 434px;
  height: auto; /* Allow the height to adjust to content */
  top: 44%; /* Move the element down by 50% of the viewport height */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#linux.ex {
  color: #008080;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  border: 3px solid lightslategray;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.7);
  text-align: center;
  width: 256px;
  height: auto;
  top: 55%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#html.ex {
  color: #008080;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  border: 3px solid lightslategray;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.7);
  text-align: center;
  width: 256px;
  height: auto;
  top: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.uper {
  font-size: x-large;
}
#python.ex {
  color: #008080;
  font-size: larger;
  font-weight: bold;
  background-color: black;
  border: 3px solid lightslategray;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.7);
  text-align: center;
  width: 256px;
  height: auto;
  top: 81%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#upd {
  color: #008080;
  background-color: black;
  border: 3px solid lightslategray;
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.7);
  top: 727px; /* Adjust the percentage to move it down further */
  width: 9%;
  position: relative; /* Set the position property to enable top */
}
#p1 {
  /* ... */
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

#linux.ex {
  /* ... */
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

#html.ex {
  /* ... */
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
}

#python.ex {
  /* ... */
  left: 50%;
  top: 81%;
  transform: translate(-50%, -50%);
}
